<div class="col-sm-12" *ngIf ="proy">
    <h1 class="m-5">Editar Proyecto</h1>
            <form (ngSubmit)="onUpdate()" class="m-5" novalidate #f="ngForm">

                <div class="form-group mb-3">
                    <label for="title">Título: </label>
                    <input type="text" class="form-control" id="titulo" name="title" [(ngModel)]="proy.title" required>
                </div>

                <div class="form-group mb-3">
                    <label for="description">Descripción: </label>
                    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="proy.description"
                        required>
                </div>
        
                <div class="form-group mb-3">
                    <label for="image">Link de imagen: </label>
                    <input type="text" class="form-control" id="image" name="image" [(ngModel)]="proy.image" required>
                </div>

                <div class="form-group mb-3">
                    <label for="link">Link: </label>
                    <input type="text" class="form-control" id="link" name="link" [(ngModel)]="proy.link" required>
                </div>

                    <button type="submit" class="btn btn-primary">EDITAR</button>                
            </form>
</div>
