<footer class="text-center text-white">
    <div class="container p-4 pb-0">
        <section class="mb-4">
            <!-- Instagram -->
            <a class="btn btn-floating m-1" href="https://www.instagram.com/nacho.castro5/" target="_blank" role="button">
                <img src="./assets/images/instagram2.png" width="30" height="30" alt="Instagram">
            </a>

            <!-- Linkedin -->
            <a class="btn btn-floating m-1" href="https://www.linkedin.com/in/ignacio-castro-planas-1785b925a/" target="_blank" role="button">
                <img src="./assets/images/linkedin2.png" width="30" height="30" alt="Linkedin">
            </a>

            <!-- Github -->
            <a class="btn btn-floating m-1" href="https://github.com/nacho-castro" target="_blank" role="button">
                <img src="./assets/images/github2.png" width="30" height="30" alt="Github">
            </a>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Made by Ignacio Castro
    </div>

</footer>