.navbar,
.navbar a {
  color: #ecf2ef;
  background: #6920b0;
  padding-right: 20px;

<<<<<<< HEAD
}
=======
}

/*
.navbar{
  position: sticky;
  top: 0;
}
*/
>>>>>>> c77fe5a74dabe6a741159d864ba5a04c50694243
