<header>
    <nav class="navbar" id="navbar">

        <a href="#navbar" class="arg-logo"><img src="./assets/images/argprog.png" width="20%" height="20%"
                alt="arg-logo"></a>
        <a href="#proyectos" class="proyectos">Proyectos</a>
        <a href="#about" class="sobre-mi">Sobre mí</a>
        <a href="mailto:ignaciocastroplanas@gmail.com" class="contacto">Contacto</a>

        <app-log-button color="{{logOut ? 'red' : '#56008c' }}"
            text="{{logOut ? 'LogOut' : 'LogIn' }}" (btnClick)="logIn()">
        </app-log-button>
    </nav>

    <div class="banner">
    </div>

</header>