<div class="section">
    <div class="row">
        <h1 id="title">Soft Skills</h1>
        <div class="col-md-10"></div>
        <div class="col-md-2 mb-3" *ngIf="isLogged">
            <button type="button" class="btn btn-dark" routerLink="/nuevaskill"><i class="bi bi-plus-lg">
                    Nueva</i></button>
        </div>
    </div>

    <div class="skills">
        <div class="skill" *ngFor="let skill of skills">
            <div class="skill-name d-flex justify-content-between align-items-center">
                {{skill.title}}
                <div class="mb-3" *ngIf="isLogged">
                    <button type="button" class="btn btn-dark btn-edit" routerLink="/editskill/{{skill.id}}">
                        <i class="bi bi-pencil-fill"></i>
                    </button>

                    <button type="button" class="btn btn-danger btn-edit" (click)="borrar(skill.id)">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>

            </div>

            <div class="skill-bar">
                <div class="skill-per" [attr.per]="skill.per" [ngStyle]="{width: skill.per}">
                </div>
            </div>
        </div>

    </div>